<h1> Recently Added Recipes</h1>
<section class="pb-4 pt-4">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/american-pancakes.jpg" alt="American Pancakes" loading="lazy">
            </div>
            <div class="pt-1">American Pancakes</div>

        </a>

        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/american-pancakes.jpg" alt="American Pancakes" loading="lazy">
            </div>
            <div class="pt-1">American Pancakes</div>

        </a>

        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/american-pancakes.jpg" alt="American Pancakes" loading="lazy">
            </div>
            <div class="pt-1">American Pancakes</div>

        </a>
        
        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/american-pancakes.jpg" alt="American Pancakes" loading="lazy">
            </div>
            <div class="pt-1">American Pancakes</div>

        </a>

        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/american-pancakes.jpg" alt="American Pancakes" loading="lazy">
            </div>
            <div class="pt-1">American Pancakes</div>

        </a>
        
        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/american-pancakes.jpg" alt="American Pancakes" loading="lazy">
            </div>
            <div class="pt-1">American Pancakes</div>

        </a>
        
        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/american-pancakes.jpg" alt="American Pancakes" loading="lazy">
            </div>
            <div class="pt-1">American Pancakes</div>

        </a>
        
        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/american-pancakes.jpg" alt="American Pancakes" loading="lazy">
            </div>
            <div class="pt-1">American Pancakes</div>

        </a>
        
        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/american-pancakes.jpg" alt="American Pancakes" loading="lazy">
            </div>
            <div class="pt-1">American Pancakes</div>

        </a>
    </div>

    
</section>
